<table class="table datatable">
  <thead>
    <th>Project</th>
    <th>Project Code</th>
    <th>Project Manager</th>
    <th>Total Budget</th>
    <th>Staff Cost</th>
    <th>Budget Remaining</th>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.data["name"] %></td>
        <td><%= project.data["wbs1"] %></td>
        <td><%= "?" %></td>
        <td><%= number_to_currency(project.data["total_project_cost"], unit: '£') %></td>
        <td><%= number_to_currency(project.data["firm_cost"], unit: '£') %></td>
        <td>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="<%= project.percentage_budget_remaining %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= project.percentage_budget_remaining %>%;"><%= project.percentage_budget_remaining %>%</div>
          </div-->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
